{{!-- create form and send data to an endpoint --}}

<form action="/profile" method="post ">
    <fieldset>
        <legend>Login</legend>

        <label for="e-mail">E-mail</label>
        <input type="text" id="e-mail" name="e-mailadres">

        <label for="password">Password</label>
        <input type="text" id="password" name="password">

        <input type="submit" value="login">
    </fieldset>
</form>