<form action="/ingelogd" method="post" id="form">
    <fieldset>
        <legend>Login</legend>

        <label for="e-mail">E-mail</label>
        <input type="email" id="email" name="email" placeholder="Enter email">
        <p id="erroremail"></p>

        <label for="password">Password</label>
        <input type="password" id="password" name="Enter password" placeholder="Enter password">
        <p id="errorpassword"></p>

        <input type="submit" value="Login" id="login">
    </fieldset>
</form>