<form action="/ingelogd" method="post" id="loginform">
    <fieldset>
        <legend>Login</legend>

        <label for="e-mail">E-mail</label>
        <input type="email" id="emaillogin" name="email" placeholder="dennis.de.graaf2@hva.nl">
        <p>Error</p>

        <label for="password">Password</label>
        <input type="password" id="passwordlogin" name="password">

        <input type="submit" value="Login" id="login">
    </fieldset>
</form>