/* standard */
/* ---------------------------- */

*, *::after, *::before {
  box-sizing:border-box;  
}

html, body {
  height:100%;
  margin:0;
}

body {
  display: grid;
  place-items: center;
}

/* variable */
/* ---------------------------- */

:root {
  --color-main: orange;
  --color-form: white;
  --color-input-text: rgb(126, 126, 126);
  --color-input-focus: #333;
  --color-input-placeholder: lightgray;
  --color-input-border: #ccc;
  --color-button-text: white;
  --color-button-hover: rgb(150, 98, 1);
}

/* background */

html {
  background-image: linear-gradient(0deg, rgba(255, 153, 0, 0.6), rgba(255, 153, 0, 0.3)), url(https://scanmovers.com/uploads/blog/images/Groningen%202.jpg); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* home */

section {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  padding: 2em 4em 2em 4em;
  background-color: var(--color-button-text);
  color: var(--color-main);
  border-radius: 1em;
  margin: 0.5em;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.15);
}

/* form */

form {
  width: 20em;
  background-color: var(--color-form);
  box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.25);
  border-radius: 1em;
  display: flex;
  justify-content: center;
}

fieldset {
  border: none;
  margin-top: 1em;
  width: 90%;
}

legend {
  color: var(--color-main);
  padding: 1em;
  line-height: 1;
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}

input {
  outline: none;
  display: block;
  width: 100%;
  margin: 0.5em 0 0em;
  padding: 10px 15px;
  border: 1px solid var(--color-input-border);
  color: var(--color-input-text);
  font-family: "Roboto";
  font-size: 14px;
}

input:focus {
  color: var(--color-main);
  border: solid;
  border-color: var();
}

p {
  color: var(--color-main);
}

input[type=submit] {
  background-color: var(--color-main);
  border: none;
  font-size: 1em;
  font-weight: bold;
  color: var(--color-button-text);
  margin: 1em 0 1em 0;
}

input[type=submit]:hover {
  background-color: var(--color-button-hover);
  cursor: pointer;
}

input::placeholder {
  color: var(--color-input-placeholder);
}